body {
  display: flex;
}
#left-img {
  flex: 1;
  background: url(left-img.png) no-repeat center center/cover;
}
#right-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
